<a href="https://colab.research.google.com/github/AmedeeRoy/BirdDL/blob/main/projection/LB_unet_projection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# mount google drive
from google.colab import drive
drive.mount("/content/drive/")

%cd drive/My\ Drive/

Mounted at /content/drive/
/content/drive/My Drive

# LOAD MODELS

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

import sqlite3

import torch
from torch import nn
from torch.utils.data import DataLoader, Dataset
from torchvision import transforms

from utils.trip import *
from utils.unet import *

# Load data

In [3]:
data_all = pd.read_table('./data/gps+5-30s.csv', sep = ',')
check = pd.read_table('./data/check_gps+5-30s.csv', sep = ',')

# LB 5s
## data

In [4]:
select = check.trip[(check.species == 'LB') & (check.res == 5)]
data = data_all[data_all.trip.isin(select)].copy()
data['dive'] = 0
data = standardize_data(data)
data

                   trip  ... step_direction_sin
678346   P1108_55_LB_T1  ...          -0.616081
678347   P1108_55_LB_T1  ...           0.057614
678348   P1108_55_LB_T1  ...           0.235880
678349   P1108_55_LB_T1  ...          -0.196858
678350   P1108_55_LB_T1  ...           0.027718
...                 ...  ...                ...
1684250   P1113_9_LB_T2  ...           0.358149
1684251   P1113_9_LB_T2  ...          -0.840480
1684252   P1113_9_LB_T2  ...           0.151334
1684253   P1113_9_LB_T2  ...           0.551543
1684254   P1113_9_LB_T2  ...           0.982223

[400604 rows x 13 columns]

In [5]:
model = torch.load('LB_unet_matrixlonlatcov_5s.pt')
window = 20
variable = ('lon_std', 'lat_std', 'gaps')

In [6]:
dive_estim = []

for i in select:
    t = data[data.trip == i].copy()
        
    test_set = TrajDataSet(t, window, variable, transform = ToTensor())
    
    # Test the model
    estim = np.zeros(len(t))
    nb = np.zeros(len(t))
    
    list_out = []
    model.eval()
    k = 0
    with torch.no_grad():
        for (x, y, z) in test_set:

            # Run the forward pass
            out = model(x, y.unsqueeze(1))
            
            estim[k:k + round(window)] += out.cpu().squeeze().numpy()
            nb[k:k + round(window)] += 1
            k+=1
    # # add to list by trajectory
    dive_estim.append(estim/nb)
    print(i)

data['prediction'] = 1/(1+np.exp(-np.hstack(dive_estim)))

P1108_55_LB_T1
P1108_55_LB_T2
P1109_15_LB_T1
P1109_15_LB_T2
P1109_15_LB_T3
P1109_15_LB_T4
P1109_19_LB_T1
P1109_19_LB_T2
P1109_19_LB_T3
P1109_19_LB_T4
P1109_19_LB_T5
P1109_19_LB_T6
P1109_2_LB_T1
P1109_2_LB_T2
P1109_2_LB_T3
P1110_45_LB_T1
P1110_45_LB_T2
P1110_45_LB_T3
P1110_45_LB_T4
P1110_65_LB_T1
P1110_65_LB_T2
P1110_65_LB_T3
P1110_65_LB_T4
P1110_65_LB_T5
P1110_65_LB_T6
P1110_66_LB_T1
P1110_66_LB_T2
P1110_66_LB_T3
P1110_66_LB_T4
P1110_69_LB_T1
P1110_69_LB_T2
P1110_69_LB_T3
P1110_69_LB_T4
P1110_69_LB_T5
P1110_69_LB_T6
P1110_77_LB_T1
P1110_77_LB_T2
P1110_77_LB_T3
P1110_77_LB_T4
P1111_1_LB_T1
P1111_1_LB_T2
P1111_14_LB_T1
P1111_14_LB_T2
P1111_14_LB_T3
P1111_14_LB_T4
P1111_15_LB_T1
P1111_15_LB_T2
P1111_15_LB_T3
P1111_15_LB_T4
P1111_15_LB_T5
P1111_16_LB_T1
P1111_16_LB_T2
P1111_16_LB_T3
P1111_18_LB_T1
P1111_18_LB_T2
P1111_18_LB_T3
P1111_18_LB_T4
P1111_19_LB_T1
P1111_19_LB_T2
P1111_19_LB_T3
P1111_19_LB_T4
P1111_21_LB_T1
P1111_21_LB_T2
P1111_21_LB_T3
P1111_22_LB_T1
P1111_22_LB_T2
P1111_22_LB_T3
P1111_23_LB_T1
P1111_23_LB_T2
P1111_24_LB_T1
P1111_24_LB_T2
P1111_24_LB_T3
P1111_24_LB_T4
P1111_24_LB_T5
P1111_29_LB_T1
P1111_29_LB_T2
P1111_29_LB_T3
P1111_29_LB_T4
P1111_29_LB_T5
P1111_29_LB_T6
P1111_3_LB_T1
P1111_30_LB_T1
P1111_30_LB_T2
P1111_30_LB_T3
P1111_30_LB_T4
P1111_30_LB_T5
P1111_31_LB_T1
P1111_31_LB_T2
P1111_31_LB_T3
P1111_32_LB_T1
P1111_32_LB_T2
P1111_32_LB_T3
P1111_32_LB_T4
P1111_32_LB_T5
P1111_34_LB_T1
P1111_35_LB_T1
P1111_35_LB_T2
P1111_36_LB_T1
P1111_36_LB_T2
P1111_37_LB_T1
P1111_37_LB_T2
P1111_37_LB_T3
P1111_37_LB_T4
P1111_39_LB_T1
P1111_39_LB_T2
P1111_39_LB_T3
P1111_39_LB_T4
P1111_39_LB_T5
P1111_4_LB_T1
P1111_40_LB_T1
P1111_40_LB_T2
P1111_40_LB_T3
P1111_40_LB_T4
P1111_40_LB_T5
P1111_42_LB_T1
P1111_42_LB_T2
P1111_42_LB_T3
P1111_43_LB_T1
P1111_43_LB_T2
P1111_44_LB_T1
P1111_44_LB_T2
P1111_44_LB_T3
P1111_44_LB_T4
P1111_44_LB_T5
P1111_44_LB_T6
P1111_44_LB_T7
P1111_45_LB_T1
P1111_45_LB_T2
P1111_45_LB_T3
P1111_45_LB_T4
P1111_48_LB_T1
P1111_48_LB_T2
P1111_49_LB_T1
P1111_49_LB_T2
P1111_49_LB_T3
P1111_49_LB_T4
P1111_50_LB_T1
P1111_50_LB_T2
P1111_51_LB_T1
P1111_51_LB_T2
P1111_51_LB_T3
P1111_53_LB_T1
P1111_53_LB_T2
P1111_54_LB_T1
P1111_6_LB_T1
P1111_6_LB_T2
P1111_6_LB_T3
P1111_6_LB_T4
P1111_7_LB_T1
P1111_7_LB_T2
P1111_7_LB_T3
P1111_7_LB_T4
P1111_8_LB_T1
P1111_8_LB_T2
P1112_1_LB_T1
P1112_1_LB_T2
P1113_1_LB_T1
P1113_1_LB_T2
P1113_12_LB_T1
P1113_12_LB_T2
P1113_12_LB_T3
P1113_13_LB_T1
P1113_13_LB_T2
P1113_16_LB_T1
P1113_16_LB_T2
P1113_17_LB_T1
P1113_17_LB_T2
P1113_2_LB_T1
P1113_2_LB_T2
P1113_20_LB_T1
P1113_20_LB_T2
P1113_20_LB_T3
P1113_21_LB_T1
P1113_21_LB_T2
P1113_21_LB_T3
P1113_22_LB_T1
P1113_22_LB_T2
P1113_22_LB_T3
P1113_26_LB_T1
P1113_26_LB_T2
P1113_27_LB_T1
P1113_27_LB_T2
P1113_27_LB_T3
P1113_30_LB_T1
P1113_30_LB_T2
P1113_31_LB_T1
P1113_31_LB_T2
P1113_32_LB_T1
P1113_32_LB_T2
P1113_35_LB_T1
P1113_35_LB_T2
P1113_36_LB_T1
P1113_37_LB_T1
P1113_37_LB_T2
P1113_39_LB_T1
P1113_39_LB_T2
P1113_4_LB_T1
P1113_4_LB_T2
P1113_43_LB_T1
P1113_44_LB_T1
P1113_44_LB_T2
P1113_46_LB_T1
P1113_48_LB_T1
P1113_49_LB_T1
P1113_49_LB_T2
P1113_49_LB_T3
P1113_5_LB_T1
P1113_5_LB_T2
P1113_8_LB_T1
P1113_8_LB_T2
P1113_9_LB_T1
P1113_9_LB_T2

In [7]:
data.to_csv('LB_5s.csv', index = False)

# LB 15s
## data

In [8]:
select = check.trip[(check.species == 'LB') & (check.res == 15)]
data = data_all[data_all.trip.isin(select)].copy()
data['dive'] = 0
data = standardize_data(data)
data

                   trip  ... step_direction_sin
752451   P1110_12_LB_T1  ...           0.115931
752452   P1110_12_LB_T1  ...           0.080518
752453   P1110_12_LB_T1  ...          -0.025665
752454   P1110_12_LB_T1  ...          -0.205195
752455   P1110_12_LB_T1  ...           0.014620
...                 ...  ...                ...
1142223  P1111_12_LB_T2  ...           0.732024
1142224  P1111_12_LB_T2  ...           0.778763
1142225  P1111_12_LB_T2  ...           0.934638
1142226  P1111_12_LB_T2  ...           0.724360
1142227  P1111_12_LB_T2  ...          -0.194840

[11551 rows x 13 columns]

In [9]:
model = torch.load('LB_unet_matrixlonlatcov_15s.pt')
window = 20
variable = ('lon_std', 'lat_std', 'gaps')

In [10]:
dive_estim = []

for i in select:
    t = data[data.trip == i].copy()
        
    test_set = TrajDataSet(t, window, variable, transform = ToTensor())
    
    # Test the model
    estim = np.zeros(len(t))
    nb = np.zeros(len(t))
    
    list_out = []
    model.eval()
    k = 0
    with torch.no_grad():
        for (x, y, z) in test_set:

            # Run the forward pass
            out = model(x, y.unsqueeze(1))
            
            estim[k:k + round(window)] += out.cpu().squeeze().numpy()
            nb[k:k + round(window)] += 1
            k+=1
    # # add to list by trajectory
    dive_estim.append(estim/nb)
    print(i)

data['prediction'] = 1/(1+np.exp(-np.hstack(dive_estim)))

P1110_12_LB_T1
P1110_12_LB_T2
P1110_12_LB_T3
P1110_12_LB_T4
P1110_13_LB_T1
P1110_13_LB_T2
P1110_25_LB_T1
P1110_25_LB_T2
P1110_25_LB_T3
P1110_35_LB_T1
P1110_35_LB_T2
P1110_35_LB_T3
P1110_55_LB_T1
P1110_55_LB_T2
P1111_11_LB_T1
P1111_11_LB_T2
P1111_12_LB_T1
P1111_12_LB_T2

In [11]:
data.to_csv('LB_15s.csv', index = False)

# LB 30s
## data

In [12]:
select = check.trip[(check.species == 'LB') & (check.res == 30)]
data = data_all[data_all.trip.isin(select)].copy()
data['dive'] = 0
data = standardize_data(data)
data

                  trip  ... step_direction_sin
676794  P1108_52_LB_T1  ...           0.302467
676795  P1108_52_LB_T1  ...          -0.103117
676796  P1108_52_LB_T1  ...          -0.364655
676797  P1108_52_LB_T1  ...           0.087062
676798  P1108_52_LB_T1  ...          -0.402348
...                ...  ...                ...
950677  P1110_55_LB_T3  ...           0.043292
950678  P1110_55_LB_T3  ...          -0.318330
950679  P1110_55_LB_T3  ...           0.227584
950680  P1110_55_LB_T3  ...           0.486447
950681  P1110_55_LB_T3  ...           0.950221

[8410 rows x 13 columns]

In [13]:
model = torch.load('LB_unet_matrixlonlatcov_30s.pt')
window = 20
variable = ('lon_std', 'lat_std', 'gaps')

In [14]:
dive_estim = []

for i in select:
    t = data[data.trip == i].copy()
        
    test_set = TrajDataSet(t, window, variable, transform = ToTensor())
    
    # Test the model
    estim = np.zeros(len(t))
    nb = np.zeros(len(t))
    
    list_out = []
    model.eval()
    k = 0
    with torch.no_grad():
        for (x, y, z) in test_set:

            # Run the forward pass
            out = model(x, y.unsqueeze(1))
            
            estim[k:k + round(window)] += out.cpu().squeeze().numpy()
            nb[k:k + round(window)] += 1
            k+=1
    # # add to list by trajectory
    dive_estim.append(estim/nb)
    print(i)

data['prediction'] = 1/(1+np.exp(-np.hstack(dive_estim)))

P1108_52_LB_T1
P1108_52_LB_T2
P1108_52_LB_T3
P1108_53_LB_T1
P1108_53_LB_T2
P1108_53_LB_T3
P1108_54_LB_T1
P1108_54_LB_T2
P1108_54_LB_T3
P1108_56_LB_T1
P1108_56_LB_T2
P1108_56_LB_T3
P1108_58_LB_T1
P1108_58_LB_T2
P1108_58_LB_T3
P1108_59_LB_T1
P1108_59_LB_T2
P1108_60_LB_T1
P1108_60_LB_T2
P1108_60_LB_T3
P1108_61_LB_T1
P1108_61_LB_T2
P1108_61_LB_T3
P1108_61_LB_T4
P1108_62_LB_T1
P1108_62_LB_T2
P1108_62_LB_T3
P1108_62_LB_T4
P1108_63_LB_T1
P1108_63_LB_T2
P1108_63_LB_T3
P1108_64_LB_T1
P1108_64_LB_T2
P1108_64_LB_T3
P1108_66_LB_T1
P1108_67_LB_T1
P1108_67_LB_T2
P1108_67_LB_T3
P1108_68_LB_T1
P1108_68_LB_T2
P1110_55_LB_T3

In [15]:
data.to_csv('LB_30s.csv', index = False)