<a href="https://colab.research.google.com/github/AmedeeRoy/BirdDL/blob/main/projection/SD_unet_projection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# mount google drive
from google.colab import drive
drive.mount("/content/drive/")

%cd drive/My\ Drive/

Mounted at /content/drive/
/content/drive/My Drive

# LOAD MODELS

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

import sqlite3

import torch
from torch import nn
from torch.utils.data import DataLoader, Dataset
from torchvision import transforms

from utils.trip import *
from utils.unet import *

# Load data

In [3]:
data_all = pd.read_table('./data/gps+5-30s.csv', sep = ',')
check = pd.read_table('./data/check_gps+5-30s.csv', sep = ',')

# SD 5s
## data

In [4]:
select = check.trip[(check.species == 'SD') & (check.res == 5)]
data = data_all[data_all.trip.isin(select)].copy()
data['dive'] = 0
data = standardize_data(data)
data

                  trip  ... step_direction_sin
1264    F0417_11_SD_T1  ...       7.988774e-02
1265    F0417_11_SD_T1  ...      -4.358418e-01
1266    F0417_11_SD_T1  ...      -8.539879e-01
1267    F0417_11_SD_T1  ...      -9.314870e-02
1268    F0417_11_SD_T1  ...       1.638550e-01
...                ...  ...                ...
248978   F0915_1_SD_T9  ...       3.725678e-07
248979   F0915_1_SD_T9  ...      -3.320883e-02
248980   F0915_1_SD_T9  ...       4.045372e-07
248981   F0915_1_SD_T9  ...       2.467826e-01
248982   F0915_1_SD_T9  ...       1.430691e-07

[44097 rows x 13 columns]

In [5]:
model = torch.load('SV_unet_matrixlonlatcov_5s.pt')
window = 20
variable = ('lon_std', 'lat_std', 'gaps')

In [6]:
dive_estim = []

for i in select:
    t = data[data.trip == i].copy()
        
    test_set = TrajDataSet(t, window, variable, transform = ToTensor())
    
    # Test the model
    estim = np.zeros(len(t))
    nb = np.zeros(len(t))
    
    list_out = []
    model.eval()
    k = 0
    with torch.no_grad():
        for (x, y, z) in test_set:

            # Run the forward pass
            out = model(x, y.unsqueeze(1))
            
            estim[k:k + round(window)] += out.cpu().squeeze().numpy()
            nb[k:k + round(window)] += 1
            k+=1
    # # add to list by trajectory
    dive_estim.append(estim/nb)
    print(i)

data['prediction'] = 1/(1+np.exp(-np.hstack(dive_estim)))

F0417_11_SD_T1
F0417_11_SD_T2
F0417_3_SD_T1
F0417_5_SD_T1
F0417_7_SD_T1
F0417_9_SD_T1
F0915_1_SD_T1
F0915_1_SD_T2
F0915_1_SD_T3
F0915_1_SD_T4
F0915_1_SD_T5
F0915_1_SD_T6
F0915_1_SD_T7
F0915_1_SD_T8
F0915_1_SD_T9

In [7]:
data.to_csv('SD_5s.csv', index = False)

# SD 15s
## data

In [8]:
select = check.trip[(check.species == 'SD') & (check.res == 15)]
data = data_all[data_all.trip.isin(select)].copy()
data['dive'] = 0
data = standardize_data(data)
data

                 trip  ... step_direction_sin
2       F0417_1_SD_T1  ...          -0.358405
3       F0417_1_SD_T1  ...          -0.122525
4       F0417_1_SD_T1  ...           0.603870
5       F0417_1_SD_T1  ...          -0.148263
6       F0417_1_SD_T1  ...           0.044479
...               ...  ...                ...
376426  F0916_8_SD_T1  ...          -0.235419
376427  F0916_8_SD_T1  ...          -0.572895
376428  F0916_8_SD_T1  ...          -0.024147
376429  F0916_8_SD_T1  ...           0.045867
376430  F0916_8_SD_T1  ...           0.093677

[208575 rows x 13 columns]

In [9]:
model = torch.load('SV_unet_matrixlonlatcov_15s.pt')
window = 20
variable = ('lon_std', 'lat_std', 'gaps')

In [10]:
dive_estim = []

for i in select:
    t = data[data.trip == i].copy()
        
    test_set = TrajDataSet(t, window, variable, transform = ToTensor())
    
    # Test the model
    estim = np.zeros(len(t))
    nb = np.zeros(len(t))
    
    list_out = []
    model.eval()
    k = 0
    with torch.no_grad():
        for (x, y, z) in test_set:

            # Run the forward pass
            out = model(x, y.unsqueeze(1))
            
            estim[k:k + round(window)] += out.cpu().squeeze().numpy()
            nb[k:k + round(window)] += 1
            k+=1
    # # add to list by trajectory
    dive_estim.append(estim/nb)
    print(i)

data['prediction'] = 1/(1+np.exp(-np.hstack(dive_estim)))

F0417_1_SD_T1
F0417_10_SD_T1
F0417_12_SD_T1
F0417_13_SD_T1
F0417_13_SD_T2
F0417_13_SD_T3
F0417_14_SD_T1
F0417_14_SD_T2
F0417_15_SD_T1
F0417_15_SD_T2
F0417_16_SD_T1
F0417_16_SD_T2
F0417_16_SD_T3
F0417_17_SD_T1
F0417_17_SD_T2
F0417_18_SD_T1
F0417_18_SD_T2
F0417_18_SD_T3
F0417_19_SD_T1
F0417_19_SD_T2
F0417_19_SD_T3
F0417_2_SD_T1
F0417_20_SD_T1
F0417_20_SD_T2
F0417_21_SD_T1
F0417_21_SD_T2
F0417_21_SD_T3
F0417_21_SD_T4
F0417_22_SD_T1
F0417_22_SD_T2
F0417_24_SD_T1
F0417_24_SD_T2
F0417_24_SD_T3
F0417_24_SD_T4
F0417_25_SD_T1
F0417_26_SD_T1
F0417_27_SD_T1
F0417_28_SD_T1
F0417_28_SD_T2
F0417_29_SD_T1
F0417_30_SD_T1
F0417_6_SD_T1
F0417_8_SD_T1
F0418_10_SD_T1
F0418_11_SD_T1
F0418_11_SD_T2
F0418_11_SD_T3
F0418_12_SD_T1
F0418_12_SD_T2
F0418_14_SD_T1
F0418_14_SD_T2
F0418_15_SD_T1
F0418_22_SD_T1
F0418_23_SD_T1
F0418_23_SD_T2
F0418_24_SD_T1
F0418_24_SD_T2
F0418_25_SD_T1
F0418_25_SD_T2
F0418_26_SD_T1
F0418_26_SD_T2
F0418_30_SD_T1
F0418_30_SD_T2
F0418_30_SD_T3
F0418_30_SD_T4
F0418_31_SD_T1
F0418_31_SD_T2
F0418_32_SD_T1
F0418_4_SD_T1
F0418_4_SD_T2
F0418_9_SD_T1
F0419_1_SD_T1
F0419_1_SD_T2
F0419_1_SD_T3
F0419_10_SD_T1
F0419_10_SD_T2
F0419_10_SD_T3
F0419_10_SD_T4
F0419_11_SD_T1
F0419_11_SD_T2
F0419_11_SD_T3
F0419_11_SD_T4
F0419_11_SD_T5
F0419_11_SD_T6
F0419_12_SD_T1
F0419_12_SD_T2
F0419_12_SD_T3
F0419_12_SD_T4
F0419_2_SD_T1
F0419_2_SD_T2
F0419_2_SD_T3
F0419_3_SD_T1
F0419_3_SD_T2
F0419_3_SD_T3
F0419_3_SD_T4
F0419_3_SD_T5
F0419_4_SD_T1
F0419_4_SD_T2
F0419_4_SD_T3
F0419_5_SD_T1
F0419_5_SD_T2
F0419_5_SD_T3
F0419_6_SD_T1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in true_divide

F0419_6_SD_T2
F0419_6_SD_T3
F0419_7_SD_T1
F0419_7_SD_T2
F0419_7_SD_T3
F0916_8_SD_T1

In [11]:
data.to_csv('SD_15s.csv', index = False)

# SD 30s
## data

In [12]:
select = check.trip[(check.species == 'SD') & (check.res == 30)]
data = data_all[data_all.trip.isin(select)].copy()
data['dive'] = 0
data = standardize_data(data)
data

                  trip  ... step_direction_sin
145103  F0418_32_SD_T2  ...           0.244770
145104  F0418_32_SD_T2  ...           0.220214
145105  F0418_32_SD_T2  ...           0.201860
145106  F0418_32_SD_T2  ...           0.061757
145107  F0418_32_SD_T2  ...          -0.285283
...                ...  ...                ...
238391   F0419_9_SD_T3  ...           0.120916
238392   F0419_9_SD_T3  ...           0.008367
238393   F0419_9_SD_T3  ...          -0.046154
238394   F0419_9_SD_T3  ...          -0.103816
238395   F0419_9_SD_T3  ...           0.115588

[3857 rows x 13 columns]

In [13]:
model = torch.load('SV_unet_matrixlonlatcov_30s.pt')
window = 20
variable = ('lon_std', 'lat_std', 'gaps')

In [14]:
dive_estim = []

for i in select:
    t = data[data.trip == i].copy()
        
    test_set = TrajDataSet(t, window, variable, transform = ToTensor())
    
    # Test the model
    estim = np.zeros(len(t))
    nb = np.zeros(len(t))
    
    list_out = []
    model.eval()
    k = 0
    with torch.no_grad():
        for (x, y, z) in test_set:

            # Run the forward pass
            out = model(x, y.unsqueeze(1))
            
            estim[k:k + round(window)] += out.cpu().squeeze().numpy()
            nb[k:k + round(window)] += 1
            k+=1
    # # add to list by trajectory
    dive_estim.append(estim/nb)
    print(i)

data['prediction'] = 1/(1+np.exp(-np.hstack(dive_estim)))

F0418_32_SD_T2
F0419_8_SD_T1
F0419_8_SD_T2
F0419_9_SD_T1
F0419_9_SD_T2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in true_divide

F0419_9_SD_T3

In [15]:
data.to_csv('SD_30s.csv', index = False)