<a href="https://colab.research.google.com/github/AmedeeRoy/BirdDL/blob/main/projection/SL_unet_projection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# mount google drive
from google.colab import drive
drive.mount("/content/drive/")

%cd drive/My\ Drive/

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
[Errno 2] No such file or directory: 'drive/My Drive/'
/content/drive/My Drive

# LOAD MODELS

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

import sqlite3

import torch
from torch import nn
from torch.utils.data import DataLoader, Dataset
from torchvision import transforms

from utils.trip import *
from utils.unet import *

# Load data

In [9]:
data_all = pd.read_table('./data/gps+5-30s.csv', sep = ',')
check = pd.read_table('./data/check_gps+5-30s.csv', sep = ',')

# SL 15s
## data

In [10]:
select = check.trip[(check.species == 'SL') & (check.res == 15)]
data = data_all[data_all.trip.isin(select)].copy()
data['dive'] = 0
data = standardize_data(data)
data

                 trip  ... step_direction_sin
440468  F1219_1_SL_T1  ...          -0.058502
440469  F1219_1_SL_T1  ...          -0.109472
440470  F1219_1_SL_T1  ...           0.252724
440471  F1219_1_SL_T1  ...           0.611027
440472  F1219_1_SL_T1  ...           0.066264
...               ...  ...                ...
452455  F1219_5_SL_T2  ...          -0.059996
452456  F1219_5_SL_T2  ...          -0.263882
452457  F1219_5_SL_T2  ...           0.067026
452458  F1219_5_SL_T2  ...          -0.865942
452459  F1219_5_SL_T2  ...           0.270600

[11970 rows x 13 columns]

In [11]:
model = torch.load('SV_unet_matrixlonlatcov_15s.pt')
window = 20
variable = ('lon_std', 'lat_std', 'gaps')

In [12]:
dive_estim = []

for i in select:
    t = data[data.trip == i].copy()
        
    test_set = TrajDataSet(t, window, variable, transform = ToTensor())
    
    # Test the model
    estim = np.zeros(len(t))
    nb = np.zeros(len(t))
    
    list_out = []
    model.eval()
    k = 0
    with torch.no_grad():
        for (x, y, z) in test_set:

            # Run the forward pass
            out = model(x, y.unsqueeze(1))
            
            estim[k:k + round(window)] += out.cpu().squeeze().numpy()
            nb[k:k + round(window)] += 1
            k+=1
    # # add to list by trajectory
    dive_estim.append(estim/nb)
    print(i)

data['prediction'] = 1/(1+np.exp(-np.hstack(dive_estim)))

F1219_1_SL_T1
F1219_1_SL_T2
F1219_1_SL_T3
F1219_2_SL_T1
F1219_3_SL_T1
F1219_3_SL_T2
F1219_3_SL_T3
F1219_3_SL_T4
F1219_4_SL_T1
F1219_4_SL_T2
F1219_5_SL_T1
F1219_5_SL_T2

In [13]:
data.to_csv('SL_15s.csv', index = False)

# SL 30s
## data

In [14]:
select = check.trip[(check.species == 'SL') & (check.res == 30)]
data = data_all[data_all.trip.isin(select)].copy()
data['dive'] = 0
data = standardize_data(data)
data

                 trip  ... step_direction_sin
452462  F1219_6_SL_T1  ...          -0.200553
452463  F1219_6_SL_T1  ...          -0.011776
452464  F1219_6_SL_T1  ...          -0.090168
452465  F1219_6_SL_T1  ...          -0.640688
452466  F1219_6_SL_T1  ...          -0.074831
...               ...  ...                ...
458638  F1219_9_SL_T4  ...          -0.798180
458639  F1219_9_SL_T4  ...           0.542594
458640  F1219_9_SL_T4  ...          -0.081295
458641  F1219_9_SL_T4  ...          -0.402397
458642  F1219_9_SL_T4  ...           0.896782

[6161 rows x 13 columns]

In [15]:
model = torch.load('SV_unet_matrixlonlatcov_30s.pt')
window = 20
variable = ('lon_std', 'lat_std', 'gaps')

In [16]:
dive_estim = []

for i in select:
    t = data[data.trip == i].copy()
        
    test_set = TrajDataSet(t, window, variable, transform = ToTensor())
    
    # Test the model
    estim = np.zeros(len(t))
    nb = np.zeros(len(t))
    
    list_out = []
    model.eval()
    k = 0
    with torch.no_grad():
        for (x, y, z) in test_set:

            # Run the forward pass
            out = model(x, y.unsqueeze(1))
            
            estim[k:k + round(window)] += out.cpu().squeeze().numpy()
            nb[k:k + round(window)] += 1
            k+=1
    # # add to list by trajectory
    dive_estim.append(estim/nb)
    print(i)

data['prediction'] = 1/(1+np.exp(-np.hstack(dive_estim)))

F1219_6_SL_T1
F1219_6_SL_T2
F1219_7_SL_T1
F1219_7_SL_T2
F1219_7_SL_T3
F1219_7_SL_T4
F1219_8_SL_T1
F1219_9_SL_T1
F1219_9_SL_T2
F1219_9_SL_T3
F1219_9_SL_T4

In [17]:
data.to_csv('SL_30s.csv', index = False)