<a href="https://colab.research.google.com/github/AmedeeRoy/BirdDL/blob/main/projection/SS_unet_projection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# mount google drive
from google.colab import drive
drive.mount("/content/drive/")

%cd drive/My\ Drive/

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
[Errno 2] No such file or directory: 'drive/My Drive/'
/content/drive/My Drive

# LOAD MODELS

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle

import sqlite3

import torch
from torch import nn
from torch.utils.data import DataLoader, Dataset
from torchvision import transforms

from utils.trip import *
from utils.unet import *

# Load data

In [9]:
data_all = pd.read_table('./data/gps+5-30s.csv', sep = ',')
check = pd.read_table('./data/check_gps+5-30s.csv', sep = ',')

# SS 15s
## data

In [10]:
select = check.trip[(check.species == 'SS') & (check.res == 15)]
data = data_all[data_all.trip.isin(select)].copy()
data['dive'] = 0
data = standardize_data(data)
data

                  trip  ... step_direction_sin
248985  F0915_11_SS_T1  ...          -0.123590
248986  F0915_11_SS_T1  ...          -0.682675
248987  F0915_11_SS_T1  ...          -0.326853
248988  F0915_11_SS_T1  ...           0.629590
248989  F0915_11_SS_T1  ...           0.093861
...                ...  ...                ...
420369   F0917_8_SS_T1  ...           0.120002
420370   F0917_8_SS_T1  ...           0.214765
420371   F0917_8_SS_T1  ...          -0.619379
420372   F0917_8_SS_T1  ...          -0.688454
420373   F0917_8_SS_T1  ...          -0.512039

[158842 rows x 13 columns]

In [11]:
model = torch.load('SV_unet_matrixlonlatcov_15s.pt')
window = 20
variable = ('lon_std', 'lat_std', 'gaps')

In [12]:
dive_estim = []

for i in select:
    t = data[data.trip == i].copy()
        
    test_set = TrajDataSet(t, window, variable, transform = ToTensor())
    
    # Test the model
    estim = np.zeros(len(t))
    nb = np.zeros(len(t))
    
    list_out = []
    model.eval()
    k = 0
    with torch.no_grad():
        for (x, y, z) in test_set:

            # Run the forward pass
            out = model(x, y.unsqueeze(1))
            
            estim[k:k + round(window)] += out.cpu().squeeze().numpy()
            nb[k:k + round(window)] += 1
            k+=1
    # # add to list by trajectory
    dive_estim.append(estim/nb)
    print(i)

data['prediction'] = 1/(1+np.exp(-np.hstack(dive_estim)))

F0915_11_SS_T1
F0915_11_SS_T2
F0915_12_SS_T1
F0915_12_SS_T2
F0915_13_SS_T1
F0915_14_SS_T1
F0915_15_SS_T1
F0915_15_SS_T2
F0915_2_SS_T1
F0915_2_SS_T2
F0915_22_SS_T1
F0915_23_SS_T1
F0915_23_SS_T2
F0915_24_SS_T1
F0915_24_SS_T2
F0915_3_SS_T1
F0915_3_SS_T2
F0915_3_SS_T3
F0915_30_SS_T1
F0915_31_SS_T1
F0916_1_SS_T1
F0916_1_SS_T2
F0916_10_SS_T1
F0916_10_SS_T2
F0916_12_SS_T1
F0916_13_SS_T1
F0916_14_SS_T1
F0916_15_SS_T1
F0916_17_SS_T1
F0916_17_SS_T2
F0916_2_SS_T1
F0916_29_SS_T1
F0916_3_SS_T1
F0916_4_SS_T1
F0916_4_SS_T2
F0916_5_SS_T1
F0916_5_SS_T2
F0916_6_SS_T1
F0916_7_SS_T1
F0916_9_SS_T1
F0917_1_SS_T1
F0917_10_SS_T1
F0917_10_SS_T2
F0917_2_SS_T1
F0917_2_SS_T2
F0917_4_SS_T1
F0917_5_SS_T1
F0917_6_SS_T1
F0917_7_SS_T1
F0917_7_SS_T2
F0917_8_SS_T1

In [13]:
data.to_csv('SS_15s.csv', index = False)

# SS 30s
## data

In [14]:
select = check.trip[(check.species == 'SS') & (check.res == 30)]
data = data_all[data_all.trip.isin(select)].copy()
data['dive'] = 0
data = standardize_data(data)
data

                  trip  ... step_direction_sin
328964  F0916_16_SS_T1  ...       6.602544e-01
328965  F0916_16_SS_T1  ...      -5.540248e-02
328966  F0916_16_SS_T1  ...       2.120731e-01
328967  F0916_16_SS_T1  ...      -8.988259e-01
328968  F0916_16_SS_T1  ...       3.223881e-01
...                ...  ...                ...
440461   F0918_3_SS_T2  ...      -4.969968e-02
440462   F0918_3_SS_T2  ...      -9.040910e-01
440463   F0918_3_SS_T2  ...      -9.139818e-01
440464   F0918_3_SS_T2  ...      -1.009844e-01
440465   F0918_3_SS_T2  ...       6.479486e-08

[24713 rows x 13 columns]

In [15]:
model = torch.load('SV_unet_matrixlonlatcov_30s.pt')
window = 20
variable = ('lon_std', 'lat_std', 'gaps')

In [16]:
dive_estim = []

for i in select:
    t = data[data.trip == i].copy()
        
    test_set = TrajDataSet(t, window, variable, transform = ToTensor())
    
    # Test the model
    estim = np.zeros(len(t))
    nb = np.zeros(len(t))
    
    list_out = []
    model.eval()
    k = 0
    with torch.no_grad():
        for (x, y, z) in test_set:

            # Run the forward pass
            out = model(x, y.unsqueeze(1))
            
            estim[k:k + round(window)] += out.cpu().squeeze().numpy()
            nb[k:k + round(window)] += 1
            k+=1
    # # add to list by trajectory
    dive_estim.append(estim/nb)
    print(i)

data['prediction'] = 1/(1+np.exp(-np.hstack(dive_estim)))

F0916_16_SS_T1
F0916_16_SS_T2
F0916_27_SS_T1
F0916_28_SS_T1
F0918_1_SS_T1
F0918_14_SS_T1
F0918_14_SS_T2
F0918_2_SS_T1
F0918_3_SS_T1
F0918_3_SS_T2

In [17]:
data.to_csv('SS_30s.csv', index = False)