# Dive Prediction - Data

*Predicting Seabird Diving Behaviour from GPS data*

This notebook prepares and formats a dataset of **74 foraging trips of seabirds** (*Sula Variegata*) with both GPS and Time Depth Recorder (TDR) tracking data. Data has been collected on **Ilha Pescadores, Peru** between 2009 and 2013.

More precisely, data have been prepared and selected as follow:

* Trajectories with raw temporal sampling at 1s only
* Gaps have been interpolated linearly (yet there are shorter than 10s)
* Maximal step speed is inferior to 50 m.s-1
* Birds never stay static longer than 10 minutes
* Number of dive in each trajectory is within the following range 1-99

In [1]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from utils.trip import *

In [2]:
 np.random.seed(1)

## load raw data

In [3]:
# connect to database
conn = sqlite3.connect('/home/amdroy/MEGA/DATA/seabirdbank.db')

In [4]:
request = "SELECT trip, datetime, lon, lat, pressure, fastlog, gaps, step_speed, step_direction FROM dive \
            INNER JOIN trip ON dive.trip = trip.id \
            INNER JOIN bird ON trip.bird = bird.id \
            WHERE bird.species = 'SV' \
            ORDER BY trip, datetime"

data = pd.read_sql_query(request, conn)
data['datetime'] = pd.to_datetime(data['datetime'], format='%Y-%m-%d %H:%M:%S')
data['dive'] = 0

# convert to boolean
data['gaps'] = (data['gaps']=='TRUE')
data['fastlog'] = (data['fastlog']=='TRUE')

data

,trip,datetime,lon,lat,pressure,fastlog,gaps,step_speed,step_direction,dive
0,G1107_12_SV_T1,2007-11-19 13:42:18,-78.958173,-8.566655,-0.69,False,False,NaN,NaN,0
1,G1107_12_SV_T1,2007-11-19 13:42:19,-78.958148,-8.566714,-0.66,False,False,7.120624,NaN,0
2,G1107_12_SV_T1,2007-11-19 13:42:20,-78.958134,-8.566773,-0.66,False,False,6.745794,9.528709,0
3,G1107_12_SV_T1,2007-11-19 13:42:21,-78.958121,-8.566839,-0.66,False,False,7.484667,2.183414,0
4,G1107_12_SV_T1,2007-11-19 13:42:22,-78.958112,-8.566910,-0.66,False,False,7.965019,3.877079,0
...,...,...,...,...,...,...,...,...,...,...
1293861,P1113_50_SV_T2,2013-11-25 05:23:26,-77.264840,-11.773600,-0.94,False,False,7.987543,-0.000004,0
1293862,P1113_50_SV_T2,2013-11-25 05:23:27,-77.264860,-11.773660,-0.94,False,False,7.987542,-0.000004,0
1293863,P1113_50_SV_T2,2013-11-25 05:23:28,-77.264900,-11.773700,-0.94,False,False,6.162400,25.570250,0
1293864,P1113_50_SV_T2,2013-11-25 05:23:29,-77.264930,-11.773740,-0.94,False,False,5.072946,-0.466867,0
1293865,P1113_50_SV_T2,2013-11-25 05:23:30,-77.264950,-11.773770,-0.94,False,False,4.264838,-5.759658,0

## filter data

In [5]:
check = pd.read_csv("/home/amdroy/MEGA/DATA/FORMAT/dive_check.csv", sep = ';')
check = check[check.trip.isin(data.trip)]
check

,trip,res_sampling_gps,res_sampling_tdr,nb_sampling_gps,nb_sampling_tdr,total_duration,error_sampling_tdr,error_sampling_gps,gap_sampling_tdr,gap_sampling_gps,dupl_sampling_tdr,dupl_sampling_gps,nb_fastlog_event,dist_start_end,total_distance,max_speed,nb_dive,longest_gap,stop
0,G1107_12_SV_T1,1.0,1.0,13848,14164,3.934167,0,33,0,33,0,0,3,0.876253,150.162793,40.982442,14,62,4
1,G1107_15_SV_T1,1.0,1.0,5203,5256,1.459722,0,6,0,6,0,0,19,0.016443,68.612375,21.654447,17,32,1
2,G1107_17_SV_T1,1.0,1.0,8399,8451,2.347222,0,13,0,13,0,0,8,0.378974,83.057953,21.960488,7,11,15
3,G1107_18_SV_T1,1.0,1.0,8222,8431,2.341667,0,12,0,12,0,0,23,1.002298,89.023571,22.613399,43,68,13
4,G1107_18_SV_T2,1.0,1.0,5848,5938,1.649167,0,5,0,5,0,0,9,0.008415,82.533595,29.796162,11,33,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,P1113_41_SV_T4,1.0,1.0,3522,3715,1.031667,0,332,0,183,0,149,38,0.018490,45.858907,49.541660,79,10,3
409,P1113_41_SV_T5,1.0,1.0,2794,2909,0.807778,0,230,0,123,0,107,21,0.029730,35.539104,45.357780,53,11,6
410,P1113_41_SV_T6,1.0,1.0,6205,6421,1.783333,0,509,0,274,0,235,52,0.081199,82.387258,48.335260,96,10,211
417,P1113_50_SV_T1,1.0,1.0,9503,9747,2.707222,0,439,0,236,0,203,35,0.045802,62.168123,44.655350,72,63,4826
418,P1113_50_SV_T2,1.0,1.0,40416,50349,13.985556,0,1717,0,1109,0,608,92,0.037496,88.552153,49.369720,64,2312,33239

In [6]:
# SV
list_ok = check.trip[(check.res_sampling_gps == 1) & (check.gap_sampling_tdr == 0) & 
                     (check.nb_dive > 0) & (check.stop < 600)]
data = data[data.trip.isin(list_ok)]
data

,trip,datetime,lon,lat,pressure,fastlog,gaps,step_speed,step_direction,dive
0,G1107_12_SV_T1,2007-11-19 13:42:18,-78.958173,-8.566655,-0.69,False,False,NaN,NaN,0
1,G1107_12_SV_T1,2007-11-19 13:42:19,-78.958148,-8.566714,-0.66,False,False,7.120624,NaN,0
2,G1107_12_SV_T1,2007-11-19 13:42:20,-78.958134,-8.566773,-0.66,False,False,6.745794,9.528709,0
3,G1107_12_SV_T1,2007-11-19 13:42:21,-78.958121,-8.566839,-0.66,False,False,7.484667,2.183414,0
4,G1107_12_SV_T1,2007-11-19 13:42:22,-78.958112,-8.566910,-0.66,False,False,7.965019,3.877079,0
...,...,...,...,...,...,...,...,...,...,...
1233765,P1113_41_SV_T6,2013-11-23 16:05:24,-77.264750,-11.773340,-0.63,False,False,11.995970,-0.000004,0
1233766,P1113_41_SV_T6,2013-11-23 16:05:25,-77.264830,-11.773230,-0.63,False,False,15.198610,25.024760,0
1233767,P1113_41_SV_T6,2013-11-23 16:05:26,-77.264870,-11.773130,-0.63,False,False,11.909720,19.457780,0
1233768,P1113_41_SV_T6,2013-11-23 16:05:27,-77.264900,-11.773030,-0.63,False,False,11.909720,-0.000006,0
1233769,P1113_41_SV_T6,2013-11-23 16:05:28,-77.264930,-11.772920,-0.63,False,False,11.909720,-0.000006,0

In [26]:
# ## LB
# list_ok = check.trip[(check.gap_sampling_tdr == 0) &
#                      (check.res_sampling_gps == 1) & 
#                      (check.nb_sampling_tdr > 1000) &
#                      (check.stop < 3000)]
# data = data[data.trip.isin(list_ok)]
# data

In [18]:
# # SD
# list_ok = check.trip[(check.res_sampling_gps == 15) &(check.nb_dive > 0) & (check.res_sampling_gps <= 15)]
# data = data[data.trip.isin(list_ok)]
# data

,trip,datetime,lon,lat,pressure,fastlog,gaps,step_speed,step_direction,dive
11507,F0417_13_SD_T1,2017-04-26 06:19:10,-32.38774,-3.818652,-0.51,False,False,NaN,NaN,0
11508,F0417_13_SD_T1,2017-04-26 06:19:25,-32.38659,-3.818414,-0.51,False,False,8.681527,NaN,0
11509,F0417_13_SD_T1,2017-04-26 06:19:40,-32.38530,-3.817827,-0.51,False,False,10.495980,-12.747840,0
11510,F0417_13_SD_T1,2017-04-26 06:19:55,-32.38387,-3.817933,-0.44,False,False,10.629350,28.748480,0
11511,F0417_13_SD_T1,2017-04-26 06:20:10,-32.38236,-3.818313,-0.44,False,False,11.521580,9.910214,0
...,...,...,...,...,...,...,...,...,...,...
96558,F0418_26_SD_T2,2018-04-22 14:28:14,-32.39467,-3.813152,0.12,False,False,9.571560,-16.312630,0
96559,F0418_26_SD_T2,2018-04-22 14:28:29,-32.39387,-3.814380,0.12,False,False,10.835960,0.503061,0
96560,F0418_26_SD_T2,2018-04-22 14:28:44,-32.39270,-3.815083,0.18,False,False,10.119910,-26.177740,0
96561,F0418_26_SD_T2,2018-04-22 14:28:59,-32.39202,-3.816421,-0.19,False,False,11.138800,31.933850,0
96562,F0418_26_SD_T2,2018-04-22 14:29:14,-32.39135,-3.817963,0.31,False,False,12.480490,3.507588,0

In [9]:
# # SS
# list_ok = check.trip[(check.res_sampling_gps == 15) & (check.longest_gap < 100) & (check.nb_fastlog_event > 5)]
# data = data[data.trip.isin(list_ok)]
# data

In [36]:
for i in data.trip.unique():
    t = data[data.trip == i]
    
    # compute dives
    trip = Trip(t)
    trip.add_dive(2)
    
#     trip.df['dive'] = 1*trip.df['fastlog']
    
    # fill dive in main table
    data = data.copy()
    data.loc[data.trip == i, 'dive'] = trip.df.dive.values
    
#     # plot individual and global plots
#     trip.plot('./data/SS/'+ str(i)+'.png')
#     plt.plot(np.array(t.lon), np.array(t.lat))
    
print('Total nb of trips: '+ str(len(data.trip.unique())))

Total nb of trips: 133

In [30]:
data.to_csv('./data/SS_all.csv', index = False)

## split to train, validation, test dataset

In [11]:
data_guanape = data[data.trip.str[:1]=='G']
data = data[data.trip.str[:1]=='P']

In [11]:
data_guanape.to_csv('./data/SV_test_guanape.csv', index = False)

In [12]:
trajs = data.trip.unique()
np.random.shuffle(trajs)
trajs

array(['P1112_30_SV_T1', 'P1112_15_SV_T3', 'P1112_21_SV_T1',
       'P1108_6_SV_T1', 'P1112_15_SV_T4', 'P1113_28_SV_T2',
       'P1112_22_SV_T2', 'P1111_41_SV_T1', 'P1113_28_SV_T3',
       'P1113_28_SV_T1', 'P1112_25_SV_T5', 'P1113_23_SV_T3',
       'P1113_41_SV_T4', 'P1112_27_SV_T1', 'P1112_22_SV_T1',
       'P1112_20_SV_T2', 'P1112_19_SV_T6', 'P1112_18_SV_T5',
       'P1111_27_SV_T4', 'P1112_19_SV_T5', 'P1113_23_SV_T4',
       'P1112_26_SV_T3', 'P1112_37_SV_T1', 'P1108_4_SV_T2',
       'P1113_29_SV_T1', 'P1112_15_SV_T1', 'P1112_25_SV_T1',
       'P1112_14_SV_T1', 'P1112_24_SV_T4', 'P1112_18_SV_T3',
       'P1113_23_SV_T2', 'P1113_24_SV_T3', 'P1113_15_SV_T1',
       'P1112_29_SV_T2', 'P1109_21_SV_T7', 'P1108_46_SV_T4',
       'P1113_18_SV_T4', 'P1112_35_SV_T2', 'P1113_33_SV_T2',
       'P1112_19_SV_T3', 'P1112_4_SV_T2', 'P1112_33_SV_T2',
       'P1112_38_SV_T1', 'P1112_4_SV_T4', 'P1112_31_SV_T2',
       'P1112_31_SV_T5', 'P1112_24_SV_T3', 'P1112_19_SV_T7',
       'P1112_24_SV_T1', 'P1113_24_SV_T1', 'P1113_24_SV_T2',
       'P1112_37_SV_T2', 'P1112_22_SV_T3', 'P1112_37_SV_T3',
       'P1112_29_SV_T3', 'P1112_25_SV_T4', 'P1109_21_SV_T4',
       'P1112_15_SV_T2', 'P1112_14_SV_T2', 'P1113_19_SV_T1',
       'P1112_18_SV_T2', 'P1111_41_SV_T4', 'P1112_34_SV_T1',
       'P1113_41_SV_T6', 'P1112_12_SV_T1', 'P1111_9_SV_T2',
       'P1113_18_SV_T1', 'P1112_9_SV_T2', 'P1112_38_SV_T2',
       'P1112_31_SV_T1', 'P1113_15_SV_T2', 'P1113_33_SV_T3',
       'P1112_3_SV_T2', 'P1112_25_SV_T3', 'P1111_27_SV_T2',
       'P1112_19_SV_T2', 'P1112_21_SV_T2', 'P1112_11_SV_T7',
       'P1112_30_SV_T2', 'P1112_19_SV_T4', 'P1112_10_SV_T1',
       'P1113_23_SV_T1', 'P1113_19_SV_T3', 'P1112_9_SV_T1',
       'P1112_20_SV_T3', 'P1111_46_SV_T5', 'P1112_27_SV_T2',
       'P1108_4_SV_T1', 'P1113_41_SV_T1', 'P1112_12_SV_T4',
       'P1113_41_SV_T5', 'P1112_20_SV_T1', 'P1113_33_SV_T4',
       'P1112_36_SV_T1', 'P1109_21_SV_T2', 'P1112_33_SV_T1',
       'P1112_24_SV_T5', 'P1108_46_SV_T2', 'P1108_46_SV_T3',
       'P1112_24_SV_T2', 'P1111_52_SV_T2', 'P1112_24_SV_T6',
       'P1112_25_SV_T2', 'P1109_21_SV_T1', 'P1109_21_SV_T3',
       'P1109_21_SV_T8', 'P1112_35_SV_T3', 'P1112_4_SV_T1',
       'P1112_3_SV_T1', 'P1113_18_SV_T2', 'P1113_19_SV_T4',
       'P1112_35_SV_T4', 'P1112_26_SV_T4', 'P1113_29_SV_T2',
       'P1111_13_SV_T5', 'P1112_12_SV_T3', 'P1112_12_SV_T2',
       'P1113_18_SV_T3', 'P1109_21_SV_T5', 'P1112_35_SV_T1',
       'P1111_41_SV_T3', 'P1113_14_SV_T1', 'P1111_41_SV_T6',
       'P1112_20_SV_T4', 'P1112_10_SV_T2', 'P1108_6_SV_T2',
       'P1113_33_SV_T1', 'P1113_19_SV_T2', 'P1112_27_SV_T3',
       'P1113_41_SV_T2', 'P1112_31_SV_T3', 'P1112_29_SV_T1',
       'P1112_18_SV_T1'], dtype=object)

In [13]:
nb_train = round(0.7 * len(data.trip.unique()))
nb_validation = round(0.2 * len(data.trip.unique()))
nb_test = round(0.1 * len(data.trip.unique()))

In [14]:
train_trajs = trajs[0:nb_train]
validation_trajs = trajs[nb_train:(nb_train+nb_validation)]
test_trajs = trajs[(nb_train+nb_validation):(nb_train+nb_validation+nb_test)]

In [15]:
data_train = data[data.trip.isin(train_trajs)]
data_validation = data[data.trip.isin(validation_trajs)]
data_test = data[data.trip.isin(test_trajs)]

In [16]:
data_train.to_csv('./data/SV_train.csv', index = False)
data_validation.to_csv('./data/SV_validation.csv', index = False)
data_test.to_csv('./data/SV_test.csv', index = False)

In [17]:
(nb_train, nb_validation, nb_test)

(93, 27, 13)